body{
    background:#FFA900;
    color: #01252a;
    text-align:center;
}

.survey{
    background:#014441;
    color:#ffa900;
    border:#9d8221;
    border-style: groove;
    border-width: 1em;
    border-radius: 4em;
}
.labels {

    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;

}
.input{
    display:inline-block;
    text-align: left;
    width:48%;
    vertical-align: middle;
    margin-top: 0.5em;
}
.userratings{
    float : left;
    margin-right: 1em;
}
.radio, .checkbox {

    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;

}
.userRatings, input[type="checkbox"] {

    float: left;
    margin-right: 5px;

}